@font-face {
  font-family: poppins;
  src: url(assets/font/poppins.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(assets/font/Poppins-Bold.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

a{
  text-decoration: none;
  color: #909193;
  font-weight: 600;
  font-size: 14px;
}
a:hover{
  color: #223344;
}
li{
  text-decoration: none;
  list-style: none;
}
body{
  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: 20px 40px;
  width: 100vw;
  height: 100vh;
}
.dark {
  background:#111729;
  color:  #F2F9FE;
}
.light{
  background: #F2F9FE;
  color: #223344;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  width: 65%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-group{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 50px;
  gap:40px;
}
.nav_link{
  font-size: 30px;
}

main{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image_hero{
  width: 100%;
}

.image_hero > img{
  width: 100%;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.subtitle{
  text-transform: uppercase;
  font-weight: 700;
}
.toogle_button{
  width: 50px;
  height: 25px;
  border-radius: 15px;  
  border: none;
  border: 2px solid #111729;
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #111729;
}
#slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff; /* Color del interruptor cuando está en la posición "Off" */
  border-radius: 25px;
  transition: left 0.3s ease-in-out; /* Transición para el desplazamiento del slider */
}

#imageDark, #imageLigth {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#imageDark {
  left: 0;
  display:none ;

}

#imageLigth {
  right: 0;
  display: block;
}

.dark_bg{
background-color: #111729;
}

.light_bg{
  background-color:#fff ;
}
.hidden{
  display: none;
}


.info > h1 {
  line-height: 4.5rem;
  font-size: 42px;
  font-family: poppins-bold;
  font-weight: 900;
  max-width: 20ch;
}

.subheader {
  color: #909193;
  max-width: 40ch;
}
.actions{
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn{
  background: #2A4DD0;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}

.link {
  color: #2A4DD0;
  text-decoration: underline;
}
.conditions{
  padding-bottom:20px;
  display: flex;
  gap: 20px;
}

.con_item{
  display: flex;
  gap: 5px;
  align-items: center;
}

.con_item > p {
  color: #909193;
  font-size:  0.875rem;
}

.logo{
  width: 150px;
  height: 20px;
  background-image: url('assets/alarado-icon-homepage.svg');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}
.close-button{
  background-image: url('assets/close.svg');
  background-color: none;
  background-repeat: no-repeat;
  background-position: left;
  background-color: transparent;  
  background-size: contain;
  border: none;
  position: absolute;
  top: 2%;
  right: 5%;
  width: 30px;
  height: 30px;
  z-index: 99;
}

.open-button{
  background-image: url('assets/menu.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  border: none;
  position: absolute;
  top: 2%;
  right: 5%;
  width: 30px;
  height:30px;
}

@media screen and (min-width:640px) {
  .open-button,.close-button{
    display: none;
  }
  header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }  
  .toogle_button{
    display: flex;
    position:relative;
    top: 0;
    right: 0;
    justify-self: end;
  }
  .hidden{
    display: flex;
  }
  nav{
    position: inherit;
    padding: 0;
    width: 100%;
    background: none;
    height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .nav-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:40px;
    padding: 0;
  }

  .nav_link{
    font-size: 14px;
    width: 60px;
  }

  .image_hero{
    width: 70%;
  }

  .info > h1 {
    font-size: 3.75rem ;

    max-width: 20ch;
  }

  .subheader{
    font-size:  1.125rem;
  }
  body{
    gap:50px
  }
}

@media screen and (min-width:1024px) {
  main {
    flex-direction: row;
  }
}